body {
  margin: 0;
  background: #0f172a;
  font-family: Arial;
  color: white;
  text-align: center;
}

.top {
  padding: 10px;
}

.panel {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: #22c55e;
  color: white;
  font-weight: bold;
}

.board {
  width: 95vw;
  max-width: 520px;
  aspect-ratio: 1;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  background: white;
  border: 4px solid black;
}

/* zones */
.cell {
  border: 0.5px solid #eee;
}

/* colors */
.red { background: #ef4444; }
.green { background: #22c55e; }
.yellow { background: #eab308; }
.blue { background: #3b82f6; }

/* token */
.token {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: auto;
}
