body {
  margin: 0;
  font-family: Arial;
  background: #111827;
  color: white;
  text-align: center;
}

.title {
  margin: 10px;
}

.game {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.info {
  width: 150px;
}

button {
  padding: 10px;
  width: 100%;
  border: none;
  background: #22c55e;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.board {
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  background: white;
  border: 5px solid black;
}

.cell {
  border: 1px solid #ddd;
}

.red { background: #ef4444; }
.green { background: #22c55e; }
.yellow { background: #eab308; }
.blue { background: #3b82f6; }

.token {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: auto;
}
